/*
 * Add your Stylesheet contents here
 * Press Ctrl + Space to see template proposals.
 */

body {
	margin-top:100px;
	
	color: #fff; 
	font-size: 20px;
}

.bg {
	margin-top: -100px; 
	padding: 0; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #4E33FF));
	position: fixed; 
	width: 100%; 
	height: 100%;
	z-index: -1;
}

.screen {
	z-index: 999;
}

.eventitem {
	width:90%; 
	margin:10px; 
	padding:10px; 
	border: 2px solid #000055;
	border-radius: 10px;
	color: #fff;
}

.eventitem:hover {
	background: #ff0000;
	-webkit-transition: all .75s ease;
}